* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
#mainMenu {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assest/menu_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
#mainMenu button {
  width: 250px;
  padding: 15px;
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #04580e;
  color: white;
}
#mainMenu button:hover {
  background: #9de63f;
  transform: scale(1.05);
}

#gameCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
#instructionsMenu {
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assest/instruction_image.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
#instructionsMenu p {
  font-size: 40px;
  margin: 8px;
  color: darkgoldenrod;
}

#okButton {
  width: 200px;
  padding: 15px;
  color: #8b6b28;
  font-size: 22px;
  text-shadow: 2px 2px 2px #5a3f12;
  background: transparent;
  border: none;
}
#okButton:hover {
  background: #eba709;
  transform: scale(1.05);
}
